<html>
<head>
<title>
Thank you !
</title>
</head>
<link type="text/css" rel="stylesheet" href="/elc_end.css">
<body bgcolor="orange" >
<h1><center>IT GANGSTERS</center></h1>
<hr/>
<center>
	<br/>
	<br/>
	<br />
	<h2>Thank you for attending the Preliminary Test ! <br />
	 Results will Be Published soon.
	</h2>
	<br /> 
	<br />	
	<div id="footer">  <br /> <br /> Site developed by @scriptnull & @hurricanehitsme <br /> <br />Powered by <img  height="50px" width="200px" src="/nodejs.png" /> <br /><br/></div>
</center>
</body>
</html>
