h1 {
	font-weight: Strong;
	color: White;
	outline-color: White;

}

h3 {
	color: White;
    font-size: 35;	
    font-family: Garamond;
}

input:focus {
	  outline-width: 2px; 
      outline-color: blue;
      background: Silver;
}
p {
	
	color: White ;	
	font-size: 20px;


}
img {
	height: 100px;
	width: 150px;
}

span {
	font-family: Timesnewroman;
	text-align: center;
}